# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcscheme
*.xcschememanagement.plist

# Xcode workspace (user-specific)
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
